<!doctype html>
<html>
<head>
</head>
<body>
    <label>Pick one!</label>
    <form action="/madlib" method="POST"></form>
    <p>
        <select name="person">
    <label>Person</label>
        <option value="erikka">Erikka</option> 
        <option value="erica">Erica</option> 
        <option value="erikca">Erikca</option> </select></p>

        <p> <select name="color">
    <label>Color</label>
        <option value="red">Red</option> 
        <option value="green">Green</option> 
        <option value="blue">Blue</option> 
        </select></p>

    <p> <select name="noun">
    <label>Noun</label>
        <option value="tombstone">Tombstone</option> 
        <option value="bubble">Bubble</option> 
        <option value="tub">Tub</option> 
        </select></p>

        <select name="adjective">
    <label>Adjectives</label>
        <option value="silly">Silly</option> 
        <option value="boring">Boring</option> 
        <option value="beautiful">Beautiful</option> 
        </select>
    </form>



</body>
</html>